* {
  box-sizing: border-box;
  margin: 0 auto;
}

.container {
  background-color: #474e5d;
  max-width: 1000px;
  border: solid 5px rgb(235, 233, 233);
  border-radius: 10px;
  height: 800px;
  overflow-y: auto;
  padding: 40px;
}

.container::-webkit-scrollbar {
  width: 15px;               /* width of the entire scrollbar */
}

.container::-webkit-scrollbar-track {
  background: orange;        /* color of the tracking area */
  border-radius: 50px;
  padding: 80px;
}

.container::-webkit-scrollbar-thumb {
  background-color: green;    /* color of the scroll thumb */
  border-radius: 30px;       /* roundness of the scroll thumb */
  border: 3px solid orange;  /* creates padding around scroll thumb */
}

h1 {
  text-align: center;
  color:rgb(243, 237, 237);
  font-size: 2rem;
  font-weight: 900;
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}