* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  background-color: #474e5d;
  font-family: Helvetica, sans-serif;
}

.container {
  background-color: #474e5d;
}

h1 {
  text-align: center;
  color:white;
  font-size: 2rem;
  font-weight: bolder;
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}
